<!-- addMatatu.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Matatu</title>
    <link rel="stylesheet" th:href="@{/styles/index.css}">
</head>
<body>
<div class="fom">
<form th:action="@{/admin/addMatatu}" th:object="${matatu}" method="post">
    <h2>Add Matatu</h2>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:field="*{name}" required><br>

    <label for="departureTime">Departure Time:</label><br>
    <input type="text" id="departureTime" name="departureTime" th:field="*{departureTime}" required><br>

    <label for="arrivalTime">Arrival Time:</label><br>
    <input type="text" id="arrivalTime" name="arrivalTime" th:field="*{arrivalTime}" required><br>

    <label for="departureDate">Departure Date:</label><br>
    <input type="date" id="departureDate" name="departureDate" th:field="*{departureDate}" required><br>

    <label for="numberOfSeatsAvailable">Number Of Seats Available:</label><br>
    <input type="text" id="numberOfSeatsAvailable" name="numberOfSeatsAvailable" th:field="*{numberOfSeatsAvailable}" required><br>


    <!-- Add other fields specific to Matatu details -->

    <button type="submit" style="margin-top: 30px">Add Matatu</button>
</form>
</div>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Departure Date</th>
        <th>Number Of Seats Available</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="matatu : ${availableMatatu}">
         <td th:text="${matatu.id}"></td>
        <td th:text="${matatu.name}"></td>
        <td th:text="${matatu.departureTime}"></td>
        <td th:text="${matatu.arrivalTime}"></td>
        <td th:text="${matatu.departureDate}"></td>
        <td th:text="${matatu.numberOfSeatsAvailable}"></td>
        <td>
            <form action="/admin/deleteMatatu" method="post">
                <input type="hidden" name="matatuId" th:value="${matatu.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Home page</a>
</body>
</html>
