* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color:dodgerblue ;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar .logo {
    color: green;
    font-weight: 600;
    font-size: 2.1rem;
    text-decoration: none;
}

.navbar .logo span {
    color: aqua;
}

.navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
    font-size: 25px;
}

.navbar a {
    color: chartreuse;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: cadetblue;
}

.hero-section {
    height: 100vh;
    background-image: url(../Images/bus.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.hero-section .Register{
    background-color: white;
    margin-top: -600px;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    font-size: large;
    text-align: center;

}
.hero-section .Register .registerLink{
    padding: 10px;
}
.hero-section .Register:hover{
    background-color: green;
}

.hero-section .content {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    color: antiquewhite;
    text-align: center;
}

.hero-section .content h2 {
    font-size: 3rem;
    max-width: 800px;
    line-height: 70px;
}

.hero-section .content p {
    font-weight: 300;
    max-width: 600px;
    margin-top: 15px;
    color:white;
}

.hero-section .content button {
    /*background: #c4dce8;*/
    padding: 12px 30px;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    margin-top: 38px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.hero-section .content button:hover {
    color: #fff;
    background: #c06b3e;
}

#close-menu-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}

#hamburger-btn {
    color: #fff;
    cursor: pointer;
    display: none;
}

.footers footer{
    background-color: dodgerblue;
    height: 80px;
    width: 100%;
    text-align: center;
    font-family: fantasy;
    font-style: italic;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
        width: 100%;
    }

    header .show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }

    .navbar .logo {
        font-size: 1.7rem;
    }

    #hamburger-btn,
    #close-menu-btn {
        display: block;
    }

    .navbar .menu-links {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        padding: 70px 40px 0;
        transition: left 0.2s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar a {
        color: #000;
    }

    .hero-section .content {
        text-align: center;
        max-height: 100%;
        width: max-content;

    }

    .hero-section .content :is(h2, p) {
        max-width: 100%;
    }

    .hero-section .content h2 {
        font-size: 2.3rem;
        line-height: 60px;
    }

    .hero-section .content button {
        padding: 9px 18px;
    }
    .hero-section .Register{

        margin-top: 600px;
        width: 80px;


    }
  .footers footer{
       background-color: dodgerblue;
   }

}

